--index-url https://westonsteimel.github.io/pypi-repo 
--extra-index-url https://pypi.org/pypi
--extra-index-url https://pypi.org/simple

pyarrow
pandas
numpy
jupyter
boto3
s3fs
dask
cython
numexpr
numba
requests
matplotlib
astropy
scikit-learn
scikit-image
scipy
